{% extends 'base.html' %}

{% block content %}
<table class="ui compact table">
    <thead>
        <tr>
            <th>{{ _('Ticker') }}</th>
            <th>{{ _('Position') }}</th>
            <th>{{ _('Target') }}</th>
        </tr>
    </thead>
    <tbody>

    {% for position in positions %}
    <tr>
        <td>
            <a href="{% url 'position_edit' position.ticker %}" >
                {{ position.ticker }}
            </a>
        </td>
        <td>{{ position.position|floatformat }} {{ position.ticker }}</td>
        <td>{{ position.target|floatformat }}%</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="3">{{ _('There is nothing here yet') }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<a href="{% url 'position_add' %}">{{ _('Add entry') }}</a>
{% endblock %}
