{% extends 'base.html' %}
{% load markets %}

{% block content %}
<table class="ui compact table">
    <thead>
        <tr>
            <th>{{ _('Ticker') }}</th>
            <th>{{ _('Position') }}</th>
            <th>{{ _('Position (€)') }}</th>
            <th>{{ _('Target (%)') }}</th>
        </tr>
    </thead>
    <tbody>

    {% for position in positions %}
    <tr>
        <td>
            <a href="{% url 'position_edit' position.ticker %}" >
                {{ position.ticker }}
            </a>
        </td>
        <td>{{ position.position.normalize }} {{ position.ticker }}</td>
        <td>{% position_fiat market position %} €</td>
        <td>{{ position.target.normalize }}%</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="5">{{ _('There is nothing here yet') }}</td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th colspan="2"></th>
            <th class="fiat_total">{% positions_fiat market positions %}€</th>
            <th></th>
        </tr>
    </tfoot>
</table>
<a href="{% url 'position_add' %}">{{ _('Add entry') }}</a>
{% endblock %}
