[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

djangorestframework = "==3.7.7"
pytz = "==2018.3"
awesome-slugify = "==1.6.5"
Pillow = "==5.0.0"
rcssmin = "==1.0.6"
"argon2_cffi" = "==18.1.0"
redis = ">=2.10.5"
celery = "==3.1.25"
Django = "==2.0.3"
django-environ = "==0.4.4"
django-model-utils = "==3.1.1"
django-allauth = "==0.35.0"
django-crispy-forms = "==1.7.2"
django_compressor = "==2.2"
django-redis = "==4.9.0"
"psycopg2-binary" = "*"


[dev-packages]

Werkzeug = "==0.15.3"
ipdb = "==0.11"
Sphinx = "==1.7.1"
pytest = "==3.4.2"
pytest-sugar = "==0.9.1"
"flake8" = "==3.5.0"
coverage = "==4.5.1"
factory_boy = "==2.10.0"
django-test-plus = "==1.0.22"
django-debug-toolbar = "==1.9.1"
django-extensions = "==2.0.5"
django_coverage_plugin = "==1.5.0"
pytest-django = "==3.1.2"


[requires]

python_version = "3.6"
